<div class="sidebar-brand">WORKSPACE</div>

<mat-nav-list>

  <a
    mat-list-item
    routerLink="/upload"
    routerLinkActive="active">

    <span class="nav-icon">↥</span> Import footage

  </a>


  <a
    mat-list-item
    routerLink="/dashboard"
    routerLinkActive="active">

    <span class="nav-icon">▦</span> Recording library

  </a>


  <a
    mat-list-item
    routerLink="/player"
    routerLinkActive="active">

    <span class="nav-icon">▶</span> Editing studio

  </a>


</mat-nav-list>
