.camera-container {

  background: black;
  color: white;
  padding: 8px;

}


video {

  width: 100%;
  display: block;

}


.empty {

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}