<section class="player">


<header class="player-header">
  <div>
    <p class="eyebrow">EDITING STUDIO</p>
    <h1>{{ recording?.folderName ?? 'TeslaCam player' }}</h1>
  </div>
  @if (recording) {
    <span class="recording-summary">{{ recording.segments.length }} synced segments</span>
  }
</header>
<app-timeline
  [currentTime]="currentTime"
  [duration]="duration"
  [clips]="timelineClips"
  (seek)="seek($event)">
</app-timeline>
<div class="controls">

<button
  class="primary-control"
  (click)="play()">

Play

</button>


<button
  class="secondary-control"
  (click)="pause()">

Pause

</button>

</div>

@if (recording && recording.segments.length > 0) {


<div class="player-stage">
  <div class="camera-grid">


<app-camera-view
  label="Front"
  [source]="frontSource"
  (ended)="nextSegment()"
  (metadataLoaded)="onCameraLoaded()"
  (timeUpdated)="onMasterTimeUpdated($event)"
  >
</app-camera-view>

<app-camera-view
  label="Left Repeater"
  (metadataLoaded)="onCameraLoaded()"
  [source]="leftSource">
</app-camera-view>

<app-camera-view
  label="Right Repeater"
  (metadataLoaded)="onCameraLoaded()"
  [source]="rightSource">
</app-camera-view>


<app-camera-view
  label="Rear"
  (metadataLoaded)="onCameraLoaded()"
  [source]="rearSource">
</app-camera-view>


</div>

  <app-telemetry-hud [sample]="telemetrySample" />
</div>


}


@else {

<p>
No Tesla clips loaded.
</p>

}


</section>
